[2016-06-06 18:45] troff commented on #2
There is something like a bug where, when a new program host is added, it is impossible to add them as a host of a program.
Basically, what we need to do right now to add a program host is:
1. create a new user - give them 'program host' permissions
2. create a 'user profile' with that user as the author
3. add that 'user profile' name to the program as a 'program host'
Wouldn't it be possible to

[2016-06-06 21:05] troff commented on #4
Add these fields to Program content types
itunes category
itunes sub-category (if needed)
itunes explicit
Update Program feeds to pull from that information

[2016-06-10 08:43] troff commented on #6
apparently must be done in database - see attached screenshot
![episode_recodring_download_link](https://cloud.githubusercontent.com/assets/4783226/15958829/aaf0f808-2eac-11e6-80b6-b4ab26146165.png)

[2016-06-10 13:14] gabelula commented on #6
Then it should have a way to change it through the admin. No other place to change them?

[2016-06-10 13:22] gabelula commented on #6
You can't change the types of recording for the episodes because you already have data in the database.  But you don't want to change that, right? You only want to change the eposides to type 0 or 1, right? Can you explain a little more here.

[2016-06-12 00:52] troff commented on #6
#Expected behavior
When the user goes to create a new 'Program episode or audio', the webform should default to 'Public affairs program (display download link)

#current behavior
The webform defaults to 'Do not record this program' - and so the audio does not get recorded.

[2016-06-12 01:41] troff commented on #1
#expected behavior
On the right-hand sidebar on the front page of the website, under 'Latest audio', the listing should display the last 6 items posted that contain audio - but only if the 'air date' is a time in the past. If the 'air date' is in the future, it should not appear on that list.

#current behavior
All episodes containing audio are included in the filter for right-hand sidebar listing

[2016-06-25 04:20] troff commented on #9
Drupal 7 events module - can these events push directly to Facebook to create a FB event?

[2016-06-28 03:32] gabelula opened #1 "Set up ssl on site"
@troff commented on [Fri Jun 24 2016](https://github.com/kboofm/old-kboo.fm/issues/10)

Use https://letsencrypt.org/ for certificate to implement ssl on kboo.fm

[2016-06-28 03:32] gabelula opened #2 "Latest audio should not include future air dates."
@gabelula commented on [Fri Jun 03 2016](https://github.com/kboofm/old-kboo.fm/issues/1)

Latest audio is sorting by air date - this is fine, but it should not include future air dates

---

@troff commented on [Sat Jun 11 2016](https://github.com/kboofm/old-kboo.fm/issues/1#issuecomment-225404451)
# expected behavior

On the right-hand sidebar on the front page of the website, under 'Latest audio

[2016-06-28 03:33] gabelula opened #3 "Adding user contact info – authored by – profile – email – active as host"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/2)

---

@troff commented on [Mon Jun 06 2016](https://github.com/kboofm/old-kboo.fm/issues/2#issuecomment-224050616)

There is something like a bug where, when a new program host is added, it is impossible to add them as a host of a program.
Basically, what we need to do right now to add a program host is:
1. cr

[2016-06-28 03:35] gabelula opened #4 "Fix the formatting and location of the ‘More content from this show’ link"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/3)

[2016-06-28 03:38] gabelula opened #5 "Itunes – set up podcasts, images, tags xml fields required"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/4)

---

@troff commented on [Mon Jun 06 2016](https://github.com/kboofm/old-kboo.fm/issues/4#issuecomment-224088301)

Add these fields to Program content types
itunes category
itunes sub-category (if needed)
itunes explicit
Update Program feeds to pull from that information

[2016-06-28 03:39] gabelula opened #6 "Program Episode or Audio: 'explicit' field should default to 'clean' at all times except 10 pm – 6 am"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/5)
# expected behavior

If an episode is posted, and it has an air date associated with it, then the 'explicit' field in the 'program episode or audio' should default as 'clean' if its air date is between 6 am and 10 pm. If its air date is between 10 pm and 6 am, it should default as 'explicit:yes'.
# current beh

[2016-06-28 03:41] gabelula opened #7 "Default schedule episode to ‘music - do not display download link'"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/6)

---

@troff commented on [Fri Jun 10 2016](https://github.com/kboofm/old-kboo.fm/issues/6#issuecomment-225125697)

apparently must be done in database - see attached screenshot
![episode_recodring_download_link](https://cloud.githubusercontent.com/assets/4783226/15958829/aaf0f808-2eac-11e6-80b6-b4ab26146165.p

[2016-06-28 03:43] gabelula opened #8 "moving off google event calendar onto a drupal-integrated calendar module"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/8)

[2016-06-28 03:43] gabelula opened #9 "linking each host's profile page with their @kboo.fm email, and setting up forwarding for those email addresses"
@gabelula commented on [Sat Jun 04 2016](https://github.com/kboofm/old-kboo.fm/issues/7)

[2016-08-10 07:44] troff opened #10 "Timeslot/program schedule issue - unable to create specials"
We have a custom Drupal 7 module which works in conjunction with a shell script based in cron to schedule audio recordings that are then attached to nodes in Drupal based on certain criteria. There are timeslots for each program episode, and the script auto-creates episodes in advance of the program's timeslot. But if there is a manually created special program, it should override the auto-created

[2016-08-16 20:47] troff opened #11 "Spinitron playlists are not showing up"
expected behavior:
playlists pulled from Spinitron API display on program episode page

current behavior: no playlists showing up as of about August 1st
(apparently some earlier ones are showing up - looks like March 2016 and earlier? ie:
http://kboo.fm/media/45393-noontime-jamboree-030716 )

modules: radio_spinitron
Spinitron playlist is displayed in the node template for station content nodes, u

[2016-09-14 20:50] JohnKellermann commented on #11
Has this been fixed, or patched? Or are volunteers entering the playlists manually?

I posted this morning's show on spinitron:
http://spinitron.com/radio/playlist.php?station=kboo&month=Sep&year=2016&playlist=14882

And it showed up on the recent playlists page:
http://kboo.fm/program/playlists

But not on my program page:
http://kboo.fm/program/pastures-plenty

Or today's page:
http://kboo.fm/me

[2016-10-22 07:27] troff commented on #5
The Itunes feeds are now working and submitted for each program. BUT they are using static content for several fields, which would be good to replace with dynamic. The fields are:
image (KBOO generic)
author (KBOO)
explicit (yes)

this will be in:
sites/all/modules/custom/utilities/radio_station/lib/components/StationContentComponent.inc

[2016-11-01 08:24] troff commented on #3
Currently the program page displays three past episodes and then a link labeled 'View latest content for <program name>' on the lower left. This should be replaced by a pager or at least a better formatted and located link to the rest of the content from this show.

[2016-11-08 03:06] troff opened #13 "Book pages"
We need to adjust the Book pages so that the sub-pages of each COmmittee page show up - ie. a list of the meeting minutes for each committee. Also need to adjust the sorting so that it sorts chronologically, with the most recent date first - and the titles of each of the book pages need to be standardized so that they will show up in the correct order.
Right now they are using 'weight', but we hav

[2016-11-08 09:27] troff opened #14 "Adding image files inline using wysywig editor is not working"
The only way to add an image file in the node creation form is on the left side menu 'add media'. there is an image icon in the wysywig editor but it is not working, nothing happens when a user clicks on the icon to add an image.

[2016-11-08 09:30] troff opened #15 "Drupal core and other updates"
Drupal core needs updating and there are some other security updates. The documentation for updating Drupal core is here: https://github.com/kboofm/kboo.fm/blob/master/docs/files/KBOOD7-UpdatingDrupalcore-060516.pdf

Must be tested on dev first.... #

[2016-11-08 15:55] beefman1 commented on #2
this is in commit c1f092bfc7a7709571d1e79079158ec6cafcf716

I intend to push with other small ones.

[2016-11-08 15:55] #2 closed, assigned to beefman1

[2016-11-08 16:58] beefman1 commented on #6
In commit 42e1ffa161c2443aeafeab1a78bd88a8fccf3fc2 added new custom module prog_field_switcher that alters the explicit field when the form loads and when the air date start time is changed.  Can be overridden by changing explicit after changing the start time.

[2016-11-08 16:58] #6 closed, assigned to beefman1

[2016-11-08 17:14] beefman1 commented on #7
Set on xdev & live.

[2016-11-08 17:17] beefman1 commented on #4
Where is this link?  How do you want it to look?

[2016-11-09 19:24] beefman1 commented on #15
Ok.  I've updated xdev, but a couple questions.

1) The file patches/core/delete-robots-txt.patch is a diff w/ /dev/null, so it deletes robots.txt (as the name suggests).  But that patch file doesn't match the existing robots.txt so gives an error.  I moved the file out of the web root for that site.

2) Do you have tests you want to run on it before moving live?

[2016-11-10 09:38] troff commented on #15
1. Is there a reason robots.txt is there? it installs when drupal core was updated? I think it's fine to just remove it manually as you did.
2. yes - I will run the QA testing on xdev
   this is our QA testing procedure:
   https://sites.google.com/a/kboo.org/kboo-website-documentation/qa-testing

[2016-11-10 09:54] troff opened #16 "'Lead image' sizing on program and episode pages"
The 'lead image' on program and episode pages
![program pages lead image](https://cloud.githubusercontent.com/assets/4783226/20172143/a74b40dc-a6e8-11e6-8aa8-aeb74b20b38c.png)
is sized at 300 x 225 px
But instead of resizing images that are posted, the theme just zooms in on the center 300x225px
which means in a lot of cases, large parts of the image are cut off.

I'd prefer a square resizing -- o

[2016-11-10 10:09] troff commented on #13
The directory listing in this screen shot would be good - but it only shows up when you go in as an editor to edit a book page.
![committee list from admin page](https://cloud.githubusercontent.com/assets/4783226/20172621/adbc0c6a-a6ea-11e6-9069-ce152a2f96ea.png)

as a user, you only see this:
![committee listing on book page](https://cloud.githubusercontent.com/assets/4783226/20172630/b9d10136-a6

[2016-11-10 20:38] beefman1 commented on #7
changed on live and xdev to "music (do not display download link)" per title here and email from Jenka dated 11/10/16 at 4:43 am.

[2016-11-10 20:38] #7 closed, assigned to beefman1

[2016-11-10 20:41] beefman1 commented on #15
1.  Yes, robots.txt is in the core tarball.
2.  Ok, let me know when you're done.

On 11/10/2016 04:38 AM, troff wrote:

[2016-11-10 20:44] beefman1 commented on #15
Can you share that doc or email it, or will i have anything to do with
testing?

On 11/10/2016 04:38 AM, troff wrote:

[2016-11-12 15:33] beefman1 commented on #11
Ok, this has two facets.

1) sometimes the initial query by date (Spinitron::getPlaylistsByDate) was returning a false cache hit from the file cache in sites/default/files/spinitron/cache.  To produce this, load one program in one window with a given air date.  Then load another in a different window with a different air date.  The load of the second will get a return of the first query, ie the pl

[2016-11-12 15:42] beefman1 commented on #11
A followup to the above, #2.  It appears that there are no programs in that timeslot, 11:30am-12:00pm.  http://spinitron.com/radio/playlist.php?station=kboo&month=Oct&year=2016&day=06#here

So it is correctly showing nothing.

[2016-11-12 17:42] beefman1 commented on #4
This is fixed on dev.  Lemme know if it's acceptable & i'll push to live.

[2016-11-14 06:31] troff commented on #11
So, here's some more info on the expected behavior:
Playlist query should include airtime of the program episode - ie. not just the date and program name should match, but also the airtime.
Music programs are on at the following times:
weekdays noon to 4 pm
weekday 8 pm to 7 am
saturday and sunday: all times - from 8 pm Friday to 7 am Monday.

Shows in other timeslots are extremely unlikely to pos

[2016-11-14 07:24] troff commented on #11
Q: Does the API from Spinitron allow it to pull the twitter share button and/or the 'buy it now' link? Or are those not part of the API....

[2016-11-14 08:01] troff commented on #4
yes! please push to live :)

[2016-11-14 08:01] #4 closed, assigned to beefman1

[2016-11-14 08:07] troff commented on #8
The calendar needs
- Ability to assign categories to different events so users can search for different types of events such as film or music and staff members can create custom "KBOO Presents" or "KBOO Sponsored" events.  Users will be able to filter the categories to only show things like Trainings, Meetings for committees and board.
- Categories: Music, Cinema, All Ages, Arts, Literary, Outdoor

[2016-11-15 02:58] beefman1 commented on #4
done.

[2016-11-15 03:07] beefman1 commented on #11
It queries in two steps.  First is by date, then by timeslot.  It queries for all episodes.

On the other issue: yes that makes sense.  Because it queries by date, then by time, it never confirms show name. The air date is optional now, so they could leave that blanks, or I could set it to not fetch the playlist on podcast programs.  How do you want to record that an episode is a podcast episode?

[2016-11-15 03:11] beefman1 commented on #11
I don't see anything in the spin api docs about social media links.  My guess is though that those links can be easily generated from some fetchable ID.  Can you show me one of the current twitter or buy now buttons?

[2016-11-15 03:24] beefman1 commented on #14
The image tool wasn't active on live.  I added it to dev, see here: http://xdev.kboo.fm/node/add/basic-page on the far right of the top row and tested.  Worked ok so i put it on live as well for those content types using Full HTML + Advanced WYSIWYG.  If you want it on simple wysiwyg as well let me know.  Closing.

[2016-11-15 03:24] #14 closed, assigned to beefman1

[2016-11-15 03:50] beefman1 commented on #16
I changed this preset to "scale" to 300x300 from "scale and crop" to 300x225.  Here's how the same looks: http://xdev.kboo.fm/media/50320-criminalization-produced-center-intercultural-organizing

You may want to try a few others with differing aspect ratios.  Lemme know if you want this live.

[2016-11-15 04:28] beefman1 commented on #13
I'll need to look more into this.  Do you want the full outline visible on every book page?  Or only so many levels deeper than the current page?

[2016-11-15 19:33] troff commented on #13
Just the levels deeper than the current page.
It would be great, however, if the 'outline' link did actually lead to a full outline of the book, if people want to go there.

[2016-11-17 00:10] troff commented on #16
yes!! please make it live :)

[2016-11-17 00:13] troff commented on #15
I have completed testing - ready to push to live (just doublecheck the donate and listen buttons, make sure they don't disappear

[2016-11-17 00:24] beefman1 commented on #16
I set this on live.

[2016-11-17 00:24] #16 closed, assigned to beefman1

[2016-11-17 00:24] beefman1 commented on #15
I pushed this live and updated the db, but there is a new core update (7.52) and an update to bootstrap.  Once i'm done with the rest i will put those on dev.

[2016-11-17 00:36] beefman1 commented on #13
added the sublevel to live.  Waiting to hear from you on the full outline page visible at http://xdev.kboo.fm/booktree

[2016-11-17 01:01] beefman1 commented on #11
Ok i added code to prevent the playlist from rendering when viewing an episode produced for a program whose stream is set to bootwo.  That's live.

[2016-11-17 01:01] #11 closed, assigned to troff, beefman1

[2016-11-18 07:52] troff opened #17 "Adding list of user's audio to their profile page"
In our Drupal 6 site, when viewing a user's profile page, there would be a list of all the audio and content authored by that user.
That functionality disappeared in the migration to D7, and is something that we want to have restored.

[2016-12-09 06:59] troff opened #18 "Time zone for users"
A couple of users/program hosts have had their time zone changed to Africa, so when they post their episodes they always show up at the wrong time!
Time zone should not be adjustable for users.

[2016-12-13 00:18] BMeiers commented on #5
Hey folks. I wanted to see if there was any possibility we could add our podcasts to Stitcher and Google Play.

[2016-12-13 01:51] gabelula commented on #5
Spotify also has podcasts now.

[2016-12-14 08:30] troff opened #19 "Chromecast issues with 'listen now' popup"
The Listen Now link opens up a new window with the player in it.
This window has no toolbar and thus does not have the chromecast link in it
so it can be played on a chromecast.  I imagine I'm not the only one who
listens to KBOO over the internet through a chromecast.  I'm sure a slight tweak in the
open new window parameters would fix that.

[2016-12-14 09:21] troff opened #20 "Latest audio page"
The 'Latest audio' and 'recent playlists' pages should be populated with the same content as the sidebars with the same name. But should include titles, teasers and links for 'Latest audio', and Program name and link in addition to playlist info, for the 'recent playlists' page.
http://kboo.fm/audio
http://kboo.fm/program/playlists

[2016-12-14 09:33] troff opened #21 "'contact us' and other pages radio buttons"
on chrome, firefox, and safari the radio buttons on this contact-us page and other web forms overwrite the first letter of the title of the Category.

[2016-12-16 03:28] beefman1 commented on #10
I made the check only look prospectively on dev because it was failing on the node we tried last night due to a month long special from this summer.  Try this and see whether it looks right to you on dev.  See http://xdev.kboo.fm/47510-timeslot-news-depth for an example, where i excluded next thursday's show.

[2016-12-16 03:33] beefman1 commented on #18
http://xdev.kboo.fm/admin/config/regional/settings

i am changing it on live right now to not be adjustable.

[2016-12-16 03:34] #18 closed, assigned to beefman1

[2016-12-16 03:34] beefman1 commented on #15
updated dev to 7.53 the other night.

[2016-12-16 03:45] beefman1 commented on #17
http://xdev.kboo.fm/profiles/andy-hosch  on dev.  this only shows the linked episode titles.  Lemme know whether you want it restyled, want a pager, want additional fields, etc.

[2016-12-19 09:59] troff commented on #17
Yes - if the display could look like the display list on the program pages (thumbnail, excerpt with read more link, pager at the bottom)..... that would be great. (ex. http://kboo.fm/program/old-mole-variety-hour )  -- one question about these listings, whether on program pages, user profiles or front page - how hard is it to get the audio player to appear in the excerpt? On the old D6 site, the p

[2016-12-19 10:03] troff commented on #13
yes - let's make the fill outline listing visible on the live site, on the 'About KBOO' page - like you have it on this page:
http://xdev.kboo.fm/booktree

[2016-12-19 10:06] troff commented on #10
yeah that looks right. any way to get the error to display more information than just 'there is already a timeslot scheduled at that time'?
thanks

[2016-12-19 10:07] troff commented on #20
So the 'recent audio' page does have the same content as the sidebar, but the sidebar was changed to exclude any audio for future dates, only today's date and earlier audio should be displayed on this page (just like the sidebar).

[2016-12-29 01:22] beefman1 commented on #21
http://xdev.kboo.fm/contact-us
I fixed it there in as unobtrusive a manner as i could.  Are there other instances?  Please lemme know or lemme know if you see any errors introduced.

[master d8d8e8b] fix to contact us radio buttons

[2016-12-29 01:58] beefman1 commented on #20
Recent audio now matches the sidebar on dev.

I see the same content on the playlist page and the sidebar.

[master e15563b] fix to make recent audio page match sidebar

[2016-12-29 02:27] beefman1 commented on #19
i changed it to have the toolbar & menubar.  Lemme know whether this works on chromecast on dev.

[master 91db3b7] added toolbar & menubar to listen now popup

[2016-12-29 03:17] beefman1 commented on #17
for future reference so i don't have to locate it again:  radio_station.module, fn radio_station_preprocess_radio_template_program_content_list

Then /lib/components/StationContentComponent create a clone of getContentForProgram using my query params and returning similar;  place call to it in /lib/responses/ProgramResponse clone of getContent

I'm looking to see whether i can use existing renderi

[2016-12-29 23:35] beefman1 commented on #13
That is now in place on live at http://kboo.fm/booktree

[2016-12-29 23:35] #13 closed, assigned to beefman1

[2016-12-30 01:18] beefman1 commented on #17
[master 6eee74c]   ---  made this work using the same scheme as the program content list.  It appears on profile pages on dev now.

Looking into putting the player in now.

[2016-12-30 20:17] beefman1 commented on #17
Try this on dev.  Here is a sample host page: http://xdev.kboo.fm/profiles/andy-hosch   I added audio clips to the top 4 hits so you could see that it works.  Compare http://xdev.kboo.fm/media/53717-art-kora

[master 6fd2a15]

[2016-12-31 07:27] troff commented on #17
yes -this looks good.
can be pushed to live whenever you have a
chance.

is that list display, with the audio player included,
available for the Latest Audio page too, and the program pages?

thank you! how are you doing time-wise?

thx
jenka

http://xdev.kboo.fm/profiles/andy-hosch   I added audio clips to the top
4

http://xdev.kboo.fm/media/53717-art-kora

6fd2a15]

you authored the thread.

on

[2016-12-31 20:14] beefman1 commented on #17
Jenka,

Are the other changes acceptable as well?  I haven't pushed to live in a
while, so several have accumulated.  In particular the updates and the
css change for the radio buttons might cause issues.  Are you
comfortable with those going live?

Timewise it took forever to tool that listing around the existing stuff
so i'm just shy of 10, but made adding to program pages a cinch so
that's done

[2016-12-31 20:51] troff commented on #17
hmm, and i don't suppose that fixing the timeslot/scheduling issue will fit in under 10 hours. i can authorize 2 - 3 more hours to try to fix the timeslot thing.
i will test the changes, and let u know when to push them live

I apologize for any typos, this was sent on a mobile device
-------- Original message --------From: beefman1 <notifications@github.com> Date: 12/31/16  12:15 PM  (GMT-08:00)

[2017-01-06 15:31] beefman1 commented on #17
Jenka,

I plan to take a look at this this afternoon.  Will let you know how
much time it looks like then.

Thanks,
Darin

On 12/31/2016 03:51 PM, troff wrote:

[2017-01-09 05:02] troff commented on #21
Looks fine - please push to live. thanks!

[2017-01-09 05:07] troff commented on #20
Looks good.
Please push to live - also please add the audio player in the 'Recent audio' listings - like in:
https://github.com/kboofm/kboo.fm/issues/17

[2017-01-09 05:17] troff commented on #19
yes - please push to live.

[2017-01-09 17:27] #21 closed, assigned to beefman1

[2017-01-09 17:27] #19 closed, assigned to beefman1

[2017-01-09 19:24] #15 closed, assigned to beefman1

[2017-01-09 19:42] troff opened #22 "Recent playlists page"
the display of this page:
http://kboo.fm/program/playlists
pulls from the spinitron "last 99 songs" api.
but it has no separation of playlists based on program

the desired display should either include the embedded playlists, but separated by program,
or just have links to the program episodes that contain playlists.
![recent-playlist-page](https://cloud.githubusercontent.com/assets/4783226/21780

[2017-01-09 19:49] troff opened #23 "Formatting of save/edit buttons"
During the last drupal core update, the formatting of the save/edit buttons (when a user goes in to edit any page) has been lost. see screenshots below. The top one is incorrect, the bottom one is correct.
![buttons-wrong-formatting](https://cloud.githubusercontent.com/assets/4783226/21780744/9d6f687e-d661-11e6-9a1f-6364975a23c8.png)
![buttons-correct-formatting](https://cloud.githubusercontent.co

[2017-01-09 20:04] #17 closed, assigned to beefman1

[2017-01-09 20:24] #20 closed, assigned to beefman1

[2017-01-10 02:41] troff opened #24 "Program pages - coming soon box"
The 'coming soon' box on Program pages only appears when there is an upcoming episode scheduled.
On the old D6 site, it would always appear - when there was no episode scheduled, it would just list the next time the program airs, with no hyperlink.

Also it would be good to move the 'subscribe to podcast' link over to that box, with a graphic image instead of a text link, so it stands out.
The pod

[2017-01-14 03:37] beefman1 commented on #23
This is fixed by disabling "aggregate & compress css files" here: http://kboo.fm/admin/config/development/performance

Looks buggish and like a rabbit hole so will leave it on for now and look more into it after i look at the playlist issue.

[2017-01-14 05:02] beefman1 commented on #22
http://xdev.kboo.fm/program/playlists

I am able to put the program name in, and i added it to the list + a blank line between the programs.  What do you think?

[2017-01-17 11:38] troff commented on #22
I mean - ideally it would have the program name above that show's playlist (with a link to the program episode page for that time).

As for the twitter share and 'buy it now' buttons, this is how they look on the spinitron site:
![spinitron playlist 2017-01-17 03 36 26](https://cloud.githubusercontent.com/assets/4783226/22019007/74676610-dc66-11e6-8d86-9cf56388de39.png)

[2017-01-17 22:53] beefman1 commented on #22
Ok, try now.  What is the twitter screenshot about?

[2017-01-18 02:53] beefman1 commented on #22
Ok made more changes to this to add the links & not use so much js.  Try now in case you did earlier and didn't see the links.

[2017-01-18 23:57] troff commented on #22
can you send me the list of commands you use for pushing to github?i have used svn and feel like i could learn the process to push to live pretty easily,  just not sure of the exact commands. 
thanks! jenka

I apologize for any typos, this was sent on a mobile device
-------- Original message --------From: beefman1 <notifications@github.com> Date: 1/17/17  6:53 PM  (GMT-08:00) To: "kboofm/kboo.fm"

[2017-01-20 23:05] beefman1 commented on #22
Jenka,

Yes.

For adding changes to the working directory:

In the working dir, say you edit file1 and file2.  You can say "git
status" to see what files are changed, and you'll see file1 and file2.
If you want to see the actual changes, "git diff file1" or "git diff
file2" will show you the diffs.

Then "git add file1" to stage the changes to file1, then 'git commit
-m"<my commit message>"' to co

[2017-03-10 00:38] BMeiers opened #25 "Copy/pasted text is black on dark teal"
Is it possible to have some of the formatting removed from text copied, then pasted, from the website? Right now, text from the website put into Word (and perhaps other applications,) is black on a dark teal background. Any way we can remove the background teal from copied text?

![web text](https://cloud.githubusercontent.com/assets/24534536/23776218/ce8df00c-04e1-11e7-833e-6cb00804f5a5.PNG)

[2017-04-05 07:13] troff opened #26 "Roku integration"
We want to get a KBOO stream accessible on Roku.

(we're here: http://www.radioroku.com/results.php?sort=5&top=1&find=kboo - but not sure how much traction radio roku has...)

[2017-04-06 18:26] troff commented on #10
thanks @beefman1 for fixing it :1st_place_medal:

[2017-04-06 18:26] #10 closed, assigned to beefman1

[2017-04-11 09:37] troff commented on #23
disabled it - hoping it doesn't have any other adverse effects...

[2017-04-11 09:37] #23 closed, assigned to nobody

[2017-04-11 09:39] #22 closed, assigned to beefman1

[2017-04-13 20:23] troff commented on #8
I have changed the sidebar to a graphic link, the calendar to a list view - so for now, I'm gonna hold off on this, and add it as an enhancement for the future.

[2017-04-14 10:08] troff opened #27 "Duplicate episodes"
A number of the episode records online have duplicates - one has audio, one does not. this occurs for many episodes.

http://www.kboo.fm/search/node/%22francis%20boyle%22%20%22jeff%20paterson%22

[2017-04-21 22:23] ghost opened #28 "Airs Time Display (midnight or mult. days) issue on front & indiv. prog pages from prog eps."
On some pages, with program episodes whose **time ends at midnight**, or whose **dates span multiple days**, text produced looks like this:

Airs at: Sat, 04/22/2017 at 5:30pm - Sun, 04/23/2017 at Sun, 04/23/2017
even as the settings on the individual prog ep edit page are correct.

"Normal" text is : Airs at: Sat, 04/22/2017 at 12:00pm - 2:00pm

This happens on the **front page** and on **individ

[2017-05-22 18:07] troff opened #29 "Uploaded audio gets overwritten by auto-archiving"
If a host uploads the audio for a program in advance, the audio appears on the episode UNTIL the program airs. At that time, the audio gets overwritten by the auto-archiving script.

There should be a conditional added to the script that checks if there is existing audio on an episode, and then make the auto-archived mp3 an attachment in ADDITION to the existing audio, instead of replacing it.

[2017-06-16 09:22] troff opened #30 "# of reads is different from statistics in 'Tracking' tab"
In episode nodes, the number of 'reads' is lower than the number of reads of the node listed under the 'Tracking' tab.
![tracking_tab](https://user-images.githubusercontent.com/4783226/27220596-95622b6c-523a-11e7-8568-a87dc65b8282.jpg)

[2017-07-09 20:00] Efschwartz opened #31 "Wrong playlist attached to my show"
I created a playlist for the Portland Jewish Hour's 7/9 show today on Spinitron, but it's not attaching to the audio of that show which is appearing on the Jewish Hour site. Instead, we've got a playlist from yesterday's True Vine, I think. Please fix asap! Thanks.

[2017-07-28 17:05] troff commented on #3
this would have to be a field in the 'program host' user role that runs a script or something to create a user profile to fill in the values on a new 'person profile' when that user role is selected.

[2017-07-28 17:20] troff commented on #25
ok, should be fixed - give it a try and let me know if it's still happening.

[2017-07-28 17:20] #25 closed, assigned to nobody

[2017-07-28 17:28] troff commented on #30
Also would like to add the number of downloads of audio file for each episode

[2017-07-28 17:57] troff commented on #31
ok I fixed it, sorry for taking so long!!
the Music from the True Vine folks had put the wrong date on their playlist.
http://kboo.fm/media/59067-portland-jewish-hour

[2017-07-28 17:57] #31 closed, assigned to nobody

[2017-07-28 18:31] troff opened #32 "Can't add images through wysiwyg editor"
Program hosts and other site users need to be able to add images and other content through the wysiwyg editor, but this is not currently allowed. also can't place images in layout of the page.

[2017-07-28 19:10] troff commented on #5
from show host:
When  we post audio for shows, even though we do not  check "explicit" from the drop-down menu, and even though "clean" is now  the default, podcasts still show up in the feed with a red E  (presumably for explicit), even though it is not explicit!
--
response:
The reason that it shows up in ITunes as explicit is that we submitted all our podcasts, and had to err on the side of cau

[2017-07-28 19:16] troff opened #33 "Twitter cards on content pages"
Would like to research and install this module, to have Twitter cards on all episode pages, making it easy for users to post a summary and audio to Twitter.
See
https://www.drupal.org/node/2798667

https://dev.twitter.com/cards/types/player
https://dev.twitter.com/cards/types/player
https://pocketmemories.net/ideas/tips/using-twitter-cards-drupal-7

test the module settings on dev server, push to

[2017-07-28 19:54] BMeiers commented on #25
It's fixed on my Mac; I'll check in when I'm at the station if it's fixed
on my PC! Thank you!

[image: signature logo_evergreen.png]
<https://interland3.donorperfect.net/weblink/weblink.aspx?name=E9988&id=1>

Becky Meiers, Development Director

pronouns she/them

KBOO-FM | (503) 231-8032, ext. 219

20 SE 8th Ave., Portland, OR 97214

development@kboo.org | kboo.fm/give
<https://interland3.donorpe

[2017-07-28 20:38] troff commented on #30
program host says: Before the website upgrade there used to be a page where logged-in users could see the number of listens for each show that was uploaded to the site. That was very useful and interesting information that I would love to have access to again. Please add it back to the new site!

[2017-08-04 07:10] troff opened #34 "Advanced search with date range option"
We need to have an advanced search function that includes a dropdown for program name, and a date range in order to search for past programs.

[2017-08-04 17:42] troff opened #35 "Main rss feed for site needs to have <enclosure> tag added"
The "Latest Audio" section uses the following feed"
https://kboo.fm/audio/feed

If you load that feed in your browser you will notice each item in the feed does not include any audio files.

It needs to have <enclosure> tags added to include the mp3 files.

[2017-08-05 03:06] beefman1 commented on #35
i added a makeshift file link to the field template.  adding an enclosure element as in the other rss feed page didn't work.  check http://xdev.kboo.fm/audio/feed and let me know whether you want it live.  compare with http://xdev.kboo.fm/program/kitchen-table-conversations/podcast

[2017-08-07 08:51] troff opened #36 "Timeslot 5th week issue"
I am trying to create a timeslot for the 5th week of the month 10 pm - midnight -- the site indicates that there's a conflict with an existing timeslot -- but when I look at that existing timeslot it does not overlap - it is for the FIRST week of the month 10 pm - midnight.
I wonder why the site thinks there is a conflict?
![20170609 timeslot 10pm - midnight](https://user-images.githubusercontent.

[2017-08-07 17:31] beefman1 commented on #35
Ok i made it use the same processor as the other feed.  It validates now and matches the other feed.  Compare http://xdev.kboo.fm/audio/feed with http://xdev.kboo.fm/program/kitchen-table-conversations/podcast

[2017-08-07 23:00] beefman1 commented on #28
See inner city blues festival in these lists.

http://xdev.kboo.fm/program/special-programming-music?page=2
http://xdev.kboo.fm/program/special-programming-music/content?page=2

[2017-08-07 23:01] beefman1 commented on #28
what is the url to the second screenshot above?  I don't see the double "A variety of music specials..." line anywhere.

[2017-08-07 23:08] ghost commented on #28
http://kboo.fm/program/special-programming-music

Either do I. Am I supposed to?

On Mon, Aug 7, 2017 at 4:01 PM, beefman1 <notifications@github.com> wrote:

[2017-08-07 23:22] beefman1 commented on #28
It's in the second screenshot under the podcast line.

[2017-08-08 00:04] ghost commented on #28
Yep, so noted. It's not on the live page now.

On Mon, Aug 7, 2017 at 4:22 PM, beefman1 <notifications@github.com> wrote:

[2017-08-15 15:13] troff commented on #28
seems that this is still an issue - see the screenshot attached.
it only affects the episodes that start before midnight,  but end at or after midnight.

![screenshot_20170815-080803](https://user-images.githubusercontent.com/4783226/29322100-34697f3c-8191-11e7-99f6-5fa8a541ef6b.png)

[2017-08-15 23:23] beefman1 commented on #28
Can you post the URL?

It looks right here: http://kboo.fm/media/58932-tribute-philip-cohran-and-more

EDIT: nevermind i found it.

[2017-08-15 23:40] beefman1 commented on #28
i merged the changes from dev to live.

[2017-08-16 23:23] troff commented on #28
seems that this is still an issue - see the screenshot attached.
it only affects the episodes that start before midnight,  but end at or after midnight.

![screenshot_20170815-080803](https://user-images.githubusercontent.com/4783226/29322100-34697f3c-8191-11e7-99f6-5fa8a541ef6b.png)

it only appears incorrectly on the list pages which show titles and summaries. it appears correctly on the program

[2017-08-17 01:46] beefman1 commented on #28
That's the same screenshot.  You're here, right?  http://kboo.fm/program/special-programming-music

This is what i see.
![ss](https://user-images.githubusercontent.com/14895568/29392510-5216de58-82cc-11e7-8dbf-918d7d39c60e.png)

[2017-08-31 20:03] troff commented on #1
fixed! finally. used letsencrypt.org with certbot on shell, for future reference....

[2017-08-31 20:03] #1 closed, assigned to troff

[2017-08-31 21:00] gabelula commented on #1
oh yeah! Congratulations!

2017-08-31 13:03 GMT-07:00 j. funk <notifications@github.com>:

[2017-09-01 17:09] troff commented on #35
thanks @beefman1 ! one thing I noticed on the live site feed - the title of the page appears to be reflecting the first item in the feed.
But since this is a feed of ALL programs the title should instead be KBOO Community Radio
see:
<channel>
    <title>KBOO Stage and Studio</title>
    <atom:link href="https://kboo.fm/program/stage-and-studio/podcast" rel="self" type="application/rss+xml"/>
    <

[2017-09-01 17:13] troff commented on #27
the interns this summer went through each show, and did all the shows titled from A - K, and also from S -Z.
There are still some shows in the middle of the alphabet that need completion...

[2017-09-06 01:46] beefman1 commented on #35
ok i fixed that.

[2017-10-30 16:20] troff commented on #35
fixed thanks @beefman1

[2017-10-30 16:20] #35 closed, assigned to beefman1

[2017-11-07 22:11] troff commented on #28
fixed

[2017-11-07 22:11] #28 closed, assigned to nobody

[2017-11-22 03:38] beefman1 commented on #5
On dev now i have added logic to make it print yes if any episode in the podcast is explicit.  In addition, it prints yes or no in each episode.

Note the explicit field was not required on dev prior to me setting it so a few minutes ago, so some may not have values and they will default to explicit.

[2017-11-23 02:29] beefman1 commented on #24
this is on dev.

[2017-11-27 08:21] troff commented on #24
hi @beefman1 will you have time to update it to live today? otherwise we have to wait til next week after the fund drive (ends dec. 4th) thanks.

[2017-12-08 00:45] beefman1 commented on #24
Ok to push live now?

[2017-12-08 00:45] beefman1 commented on #5
Ok to push live now?

[2017-12-29 02:17] beefman1 commented on #36
I found the issue and posted a fix on drupal.org.  Will wait a week or so to see whether maintainers run tests on it to decide whether to move to live.  If they post a better fix we'll use that.

https://www.drupal.org/project/date/issues/2900532

[2017-12-29 02:17] beefman1 commented on #36
but my fix is on dev so play with it if you want.

[2017-12-29 02:25] beefman1 commented on #32
Added imce to ckeditor config here: https://xdev.kboo.fm/admin/config/content/ckeditor/edit/Full_HTML_Advanced

Check it here, for example: https://xdev.kboo.fm/node/61508/edit

screenshot attached.
![ss1](https://user-images.githubusercontent.com/14895568/34427954-9b510848-ec15-11e7-9ff7-17247a465fea.png)

[2017-12-29 02:25] beefman1 commented on #32
btw that's on dev.  If it fixes the problem lemme know and i will do it on live.

[2017-12-29 18:13] troff commented on #36
yes, this seems to have worked - so go ahead and push it to live.
![cascadiacoffeehouse](https://user-images.githubusercontent.com/4783226/34444138-d3592994-ec80-11e7-9b0d-b3a48e471dfb.png)

[2018-01-01 18:11] beefman1 commented on #36
Ok.  for record, it passed the module's tests on this issue: https://www.drupal.org/project/date/issues/2900532

I made one more commit to make the code here match the final patch there that follows coding standards.  Just pushed live.

[2018-01-02 19:45] troff commented on #24
yes yes to live!

[2018-01-02 19:45] #24 closed, assigned to nobody

[2018-01-02 20:14] troff commented on #36
yes I tested it - please push to live.

[2018-01-02 20:14] #36 closed, assigned to beefman1

[2018-01-02 21:20] troff commented on #32
yes except the permissions issue I emailed, other than that it is fine to push to live

[2018-01-02 21:20] #32 closed, assigned to troff

[2018-01-02 21:23] troff commented on #5
yes to push live - question though @beefman1 did you edit:
sites/all/modules/custom/utilities/radio_station/lib/components/StationContentComponent.inc
to change the podcast/Itunes 'explicit' field from a static value to a variable?

[2018-01-02 23:29] beefman1 commented on #32
Added that to live with perms for admin-developer role.

[2018-01-02 23:33] beefman1 commented on #5
I think i did way back along with a different commit.  Is live functioning as expected now?

[2018-01-02 23:36] beefman1 commented on #5
I believe the relevant changes are in radio_station/lib/processors/PodcastProcessor.inc and radio_station/templates/programs-podcast.tpl.php

the git commit is 773169678125f153bd1ae973846c20ee09d76c96

[2018-01-03 00:10] beefman1 commented on #30
The mismatch is because 1) the core statistics module counts repeat loads by the same user and 2) it is set to delete logs older than 1 month 3 weeks.  You can increase that to 3 months 3 weeks or never, but the logs will grow quickly.

[2018-01-03 00:29] beefman1 commented on #30
The filefield download stats module wasn't ported from drupal 6, and the closest comparable one only works with private files.

[2018-06-11 21:16] troff opened #37 "Podcasts only include one audio file"
Some podcasts have more than one audio file - but only one audio file shows up in the feed.

[2018-11-27 00:35] troff commented on #27
all done!

[2018-11-27 00:35] #27 closed, assigned to troff

[2018-11-27 00:56] troff opened #38 "Spanish version of site"
Need to use the translate module - and somehow integrate it with KBOO's custom radio_station module to be able to work throughout the site.